# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
#
version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/app" # Location of package manifests
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
    target-branch: "main"
    groups:
      react-packages:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      next-packages:
        patterns:
          - "next"
          - "eslint-config-next"
          - "next-router-mock"
      testing-packages:
        patterns:
          - "@testing-library/*"
          - "@types/jest"
          - "jest"
          - "jest-environment-jsdom"
          - "ts-jest"
      typescript-packages:
        patterns:
          - "typescript"
          - "@types/node"
          - "ts-node"
      ui-libraries:
        patterns:
          - "@geist-ui/react"
          - "tailwindcss"
          - "postcss"
          - "autoprefixer"
      utilities:
        patterns:
          - "canvas-confetti"
          - "@types/canvas-confetti"
      formatting-tools:
        patterns:
          - "eslint"
          - "eslint-config-next"
          - "prettier"

  - package-ecosystem: "docker"
    directory: "/" # Location of Dockerfile or compose.yml
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
    target-branch: "main"

  - package-ecosystem: "github-actions"
    directory: "/" # Location of workflow files
    schedule:
      interval: "daily"
    commit-message:
      prefix: "actions"
    target-branch: "main"
